# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database

POSTGRES_URL="postgres://default:sYA1cd5XbEMz@ep-yellow-poetry-17840398-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_PRISMA_URL="postgres://default:sYA1cd5XbEMz@ep-yellow-poetry-17840398-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://default:sYA1cd5XbEMz@ep-yellow-poetry-17840398.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_USER="default"
POSTGRES_HOST="ep-yellow-poetry-17840398-pooler.us-east-1.postgres.vercel-storage.com"
POSTGRES_PASSWORD="sYA1cd5XbEMz"
POSTGRES_DATABASE="verceldb"

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth

